@import '~@angular/material/theming';
@include mat-core();

$color-primary: (
  50 : #e0fce8,
  100 : #b3f8c6,
  200 : #80f3a0,
  300 : #4dee79,
  400 : #26ea5d,
  500 : #00e640,
  600 : #00e33a,
  700 : #00df32,
  800 : #00db2a,
  900 : #00d51c,
  A100 : #fcfffd,
  A200 : #c9ffce,
  A400 : #96ff9f,
  A700 : #7dff87,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$color-accent: (
  50 : #e0fde0,
  100 : #b3fbb3,
  200 : #80f880,
  300 : #4df54d,
  400 : #26f226,
  500 : #00f000,
  600 : #00ee00,
  700 : #00ec00,
  800 : #00e900,
  900 : #00e500,
  A100 : #ffffff,
  A200 : #d9ffd9,
  A400 : #a6ffa6,
  A700 : #8cff8c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$app-primary: mat-palette($color-primary);
$app-accent:  mat-palette($color-primary, A200, A100, A400);
$app-warn:    mat-palette($mat-red);

$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);
