#radar{
  position:relative;
  overflow:hidden;
  width:40vh;
  height:40vh;
  /*background: #222 url("../../../../assets/radar_enabled.png") no-repeat;*/
  /*background-size: 40vh;*/
  border-radius: 50%;
}

#container {
  position:absolute;
  width:40vh;
  height:40vh;
}

#radar_line{
  position:absolute;
  width:40vh;
  height:40vh;
  background:url("../../../../assets/radar_line.png") no-repeat;
  background-size: 40vh;
}
.point{
  background:#cf5;
  position:absolute;
  border-radius: 50%;
  width:4px;
  height:4px;
  margin:-2px;
  box-shadow:0 0 10px 5px rgba(100,255,0,0.5);
  opacity:0.2;
}
