/*.team1-card {*/
  /*max-width: 400px;*/
/*}*/
/*#overlayPanel{*/
  /*width: 100vw;*/
  /*height: 100vh;*/
  /*opacity: 0.5;*/
  /*background-color: white;*/
  /*position:absolute;*/
  /*z-index: 1;*/
/*}*/
/**{*/
  /*font-family: 'centauri', 'arial', sans-serif;*/
/*}*/
.swiper-container {
  width: 70%;
  height: 100%;

  /*background: rgba(66, 66, 66, 0.8);*/
  /*padding: 2% 10%;*/
}

.swiper-button-next, .swiper-button-prev {
  position: fixed;
  align-items: center;
}

.swiper-pagination {
  position: fixed;

  justify-content: center;
  bottom: 30px;
}
app-navbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#password-title {
  text-align: center;
  margin-top: 10vh;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
}
#match-name,h2{
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#main-container{
  position: relative;
  width: 100%;
  height: 99vh;
}
#principle-container{
  position: relative;
  margin-top: 13vh;
  width: 100%;
  height: 100%;
}
#particle-canvas{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#contentContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
#img-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

#locked{
  /*width: 15%;*/
  /*height: auto;*/
}
#centered-container{
  background: rgba(66, 66, 66, 0.8);
  width: 66%;
  padding: 3% 1% 3% 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0.5;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
  font-family: 'Orbitron', sans-serif;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 8vh;
}
#info-container{
  /*background: rgba(66, 66, 66, 0.8);*/
  /*width: 66%;*/
  /*padding: 3% 1% 3% 1%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.login-form {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  width: 60%;
}

.login-input {
  margin-top: 5px;
}

#scanner {
  display: flex;
  justify-content: center;
  margin-bottom: 7vh;
}

#login-button{
  font-family: 'Orbitron', sans-serif;
}
@media screen and (max-width: 599px) {
  h1 {
    font-size: 24px;
  }

  .login-form {
    width: 80%;
    font-size: 70%;
  }


}
