<label for="name">Name</label>
<p id="name">{{match.name}}</p>
<label for="state">State</label>
<p id="state">{{match.state}}</p>
<label for="access">Access</label>
<p id="access">{{match.access}}</p>
<label for="password" *ngIf="showPassword()">Password</label>
<input id="password" type="password" *ngIf="showPassword()" [(ngModel)]="password"/>
<label for="radius">Radius</label>
<p id="radius">{{match.radius}}</p>
<label for="centralPoint">Center Point</label>
<p id="centralPoint">{{match.centralPoint.latitude}}, {{match.centralPoint.longitude}}</p>
<label for="remainingTime" *ngIf="showRemainingTime()">Remaining Time</label>
<p id="remainingTime" *ngIf="showRemainingTime()">{{remainingTime}}</p>
<label for="organization">ORganization</label>
<p id="organization">{{match.organization}}</p>

<label for="users">Players</label>
<ul id="users">
  <li *ngFor="let user of users">
    {{user}}
  </li>
</ul>
<label for="team">Choose Your Team</label>
<select (change)="switchTeam()" id="team" *ngIf="teamVisible">
  <option>Team 1</option>
  <option>Team 2</option>
</select>
<button (click)="switchPartecipation()" *ngIf="showJoin()">{{partecipationButtonText()}}</button>

<h1 class="mat-display-4">{{match.name}}</h1>
<div>
  <mat-card>
    <mat-card-content>
      <h2>{{printState()}}</h2>
      <mat-progress-spinner
        [color]="spinnerOption.color"
        [mode]="spinnerOption.mode"
        [value]="spinnerOption.value">
      </mat-progress-spinner>
    </mat-card-content>
  </mat-card>
  <div style="position:relative; top: -20px; left: 35px;">
    {{ remainingTime}}
  </div>
</div>



