<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="slide-content">
        <app-radar></app-radar>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-content">
        <!--<app-earth-map></app-earth-map>-->
        <app-match-map></app-match-map>
      </div>
    </div>
  </div>
  <!-- Add Pagination -->
  <div class="swiper-pagination swiper-pagination-white"></div>
  <!-- Add Arrows -->
  <div class="swiper-button-next swiper-button-white" fxShow="false" fxShow.gt-xs></div>
  <div class="swiper-button-prev swiper-button-white" fxShow="false" fxShow.gt-xs></div>
</div>
