<div id="info-container">
  <h1 class="mat-display-3" id="match-name">{{match.name}}</h1>
  <h2>{{printState()}}</h2>
  <div id="timer-container">
    <mat-progress-spinner
      [color]="spinnerOption.color"
      [mode]="spinnerOption.mode"
      [value]="spinnerOption.value">
      id="timer"
    </mat-progress-spinner>
    <div id="timer-text">
      {{ remainingTime}}
    </div>
  </div>
  <select (change)="switchTeam()" id="team" *ngIf="teamVisible">
    <option>Team 1</option>
    <option>Team 2</option>
  </select>
  <div id="team-container" *ngIf="teamVisible">
    <h2>Choose your side</h2>
    <div id="button-team-container">
      <img src="../../../assets/images/yoda.png" id="yoda">
      <img src="../../../assets/images/darth_vader.png" id="darth">
    </div>
  </div>
  <div id="join-container">
    <button mat-flat-button color="primary" id="join-button" (click)="switchPartecipation()" *ngIf="showJoin()">{{partecipationButtonText()}}</button>
  </div>
  <!--<button (click)="switchPartecipation()" *ngIf="showJoin()">{{partecipationButtonText()}}</button>-->
</div>
