<div id="info-container">
  <h1 class="mat-display-3" id="match-name">{{match.name}}</h1>
  <h2>{{printState()}}</h2>
  <div id="timer-container">
    <mat-progress-spinner
      [color]="spinnerOption.color"
      [mode]="spinnerOption.mode"
      [value]="spinnerOption.value">
      id="timer"
    </mat-progress-spinner>
    <div style="position:relative; top: -20px; left: 35px;">
      {{ remainingTime}}
    </div>
  </div>
  <select (change)="switchTeam()" id="team" *ngIf="teamVisible">
    <option>Team 1</option>
    <option>Team 2</option>
  </select>
  <div id="team-container">
    <div>
      <img src="../../../assets/images/laser1.png" id="yoda">
    </div>
    <div>
      <img src="../../../assets/images/laser2.png" id="darth">
    </div>
  </div>
  <button (click)="switchPartecipation()" *ngIf="showJoin()">{{partecipationButtonText()}}</button>
</div>
