* {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
}

#info-container{
  /*background: rgba(66, 66, 66, 0.8);*/
  /*width: 66%;*/
  /*padding: 3% 1% 3% 1%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#match-name{
  font-size: 5vw;

  margin-top: 2vh;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  font-weight: 500;
}

#team-label, #state-label {
  margin-top: 7vh;
  font-size: 25px;
}

#circle-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.circle-container-content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.bottom-content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#div-yoda, #div-darth {
  width: 20%;
}

#timer-container{
  //position: relative;
  //padding: 1%;
  //display: flex;
  //width: 100%;
  //height: fit-content;
  //flex-direction: column;
  //justify-content: center;
  //align-items: baseline;
}

#team-container{
  width: 100%;
}


#yoda,#darth{
  width: 10vw;
  height: 10vw;

  min-width: 80px;
  min-height: 80px;

  border-radius: 50%;
}

.team-title {
  text-align: center;
  font-size: 30px;
}

#timer-text{
  font-size: 4vw;
}


#join-container{
  margin-top: 7vh;
  width: 100%;

  display: flex;
  justify-content: center;
}

#join-button{
  width: 80%;

  font-size: 30px;
}


//.circleBase {
//  border-radius: 50%;
//  //behavior: url(PIE.htc); /* remove if you don't care about IE8 */
//}
//
//.type1 {
//  width: 200px;
//  height: 200px;
//  background: yellow;
//  //border: 3px solid red;
//}

@media screen and (max-width: 599px) {
  //#join-button{
  //  padding-top: 5%;
  //}

  #match-name {
    font-size: 30px;
  }

  #team-label, #state-label {
    font-size: 18px;
  }

  .team-title {
    font-size: 20px;
  }

  #timer-text{
    font-size: 20px;
  }

  #join-button{
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  #match-name {
    font-size: 60px;
  }

  #timer-text {
    font-size: 50px;
  }
}
