<!--<title>{{title}}</title>-->
<!--<h1>{{title}}</h1>-->

<form id="form" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
  <label for="username">Username</label>
  <label class="login-field-icon fui-user" for="username"></label>
  <input type="text" formControlName="username" id="username" class="form-control login-field" placeholder="Enter your username" >
  <label for="password">Password</label>
  <label class="login-field-icon fui-lock" for="password"></label>
  <input type="password" formControlName="password" id="password" class="form-control login-field" placeholder="Password">

    <button type="submit" class="btn btn-primary btn-block">Login</button>
    <a [routerLink]="['/registration']"><button class="btn btn-danger btn-block">Register</button></a>
</form>





<!--<div class="login">-->
  <!--<div class="login-screen">-->
    <!--<div class="login-icon">-->
      <!--<img src="../../../assets/images/login/icon.png" alt="Welcome to Mail App" />-->
      <!--<h4>Welcome to <small>Mail App</small></h4>-->
    <!--</div>-->

    <!--<div class="login-form">-->
      <!--<div class="form-group">-->
        <!--<input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="login-name" />-->
        <!--<label class="login-field-icon fui-user" for="login-name"></label>-->
      <!--</div>-->

      <!--<div class="form-group">-->
        <!--<input type="password" class="form-control login-field" value="" placeholder="Password" id="login-pass" />-->
        <!--<label class="login-field-icon fui-lock" for="login-pass"></label>-->
      <!--</div>-->

      <!--<a class="btn btn-primary btn-lg btn-block" href="#">Log in</a>-->
      <!--<a class="login-link" href="#">Lost your password?</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

